body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .header {
  padding: 0;
  margin: 0;
 }
.nav-header{
  display: flex;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   background: #eee;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 25px;
 
}
.navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
 
}
.navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  color: black;
}
.navbar li a:hover,
.navbar li a.active {
  color: red;
}
.navbar li a:hover::after,
.navbar li a.active::after {
  content: "";
  width: 30px;
  height: 2px;
  color: red;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.nav-mobile ul i {
  float: right;
  display: flex;
} */

.header {
  padding: 15px 0;
  color: #77838f;
  background: #eee;
  position: relative;
  z-index: 3;
  box-shadow: 0 6px 15px rgb ( 64, 79, 104 / 5%);
  display: block;  
  border-bottom: 1px solid #ecef2e;
}
.logo {
   padding: 25px;
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   text-decoration: none;
   color: #202124;
}
.navbar {
   display: inline-block; 
   align-items: center;
  justify-content: space-between;
   list-style: none;
   position: relative;
   padding: 20px;
   display: flex;
  }
 
.navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative; 
  display: inline-block;
  padding: 0 15px;
  
 }
.navbar li a {
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
  transition: 0.3s ease-in-out;
  color: black;
  display: inline-block;
  justify-content: space-between;
 }
 .menu-login {
  display: inline-block;
  align-items: start;
  justify-content: space-between;

}



